{{!-- control.handlebars --}}
<div id="control" class="row">
  <div class="btn-group btn-group-justified">
    <a href=' /pantry/{{id}}/{{pantry_order}}' class="btn btn-default" role="button">
      <span class="glphyicon glphyicon-cutlery"></span>Pantry
    </a>
    <a href='/shopping_list/{{id}}/{{shopping_list_order}}' class="btn btn-default" role="button">
      <span class="glphyicon glphyicon-shopping-cart">Grocery List</span>
    </a>
  </div>
</div>