<div class='row' id='footer'>
  <div class='container'>
    <a href="/pantry/{{id}}/{{next_pantry_order}}">
      <h4 id='sort'>Sort by: <i>{{pantry_order}}</i></h4>
    </a>
    <a href="#">
      <h4 id='edit'>Edit</h4>
    </a>
  </div>
</div>