<div class='row' id='footer'>
  <div class='container'>
    <a href="/shopping_list/{{id}}/{{next_shopping_list_order}}">
      <h4 id='sort'>Sort by: <i>{{shopping_list_order}}</i></h4>
    </a>
    <a href="#">
      <h4 id='edit'>Edit</h4>
    </a>
  </div>
</div>