{{!-- item.handlebars --}}
<div class='row item' id='{{_id}}'>
	<h3 class='item-name'>{{name}}</h3>
  <button class='btn btn-sm btn-xs btn-danger btn-remove'>Remove</button>
  <h6 class='item-expiration'>{{expiration_string}}</h6>
  <h6 class='item-category'>{{category}}</h6>
</div>