{{!-- navbar.handlebars --}}
<nav class='navbar navbar-default navbar-fixed-bottom' role='navigation'>
  <div class='container'>

      <ul class='nav navbar navbar-left tab-item'>
        <li>
          <h4>
        	 <a href=' /pantry/{{id}}/{{pantry_order}}'><span class='glyphicon glyphicon-cutlery'></span></a>
          </h4>
        </li>
      </ul>

      <ul class='nav navbar navbar-right tab-item'>
        <li class='active'>
          <h4>
            <a href='/shopping_list/{{id}}/{{shopping_list_order}}'><span class='glyphicon glyphicon-shopping-cart'></span></a>
          </h4>
        </li>
      </ul>
    
  </div><!-- /.container -->
</nav>