{{!-- navbar.handlebars --}}
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
      	<li>
      		<a class="nav navbar navbar-left" href="/pantry/{{id}}">Pantry</a>
      	</li>
      	<li class="divider"></li>
      	<li>
      		<a class="nav navbar navbar-right" href="/shopping_list/{{id}}">Shopping List</a>
      	</li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>