<div class='mm-fixed-top unshifted' id='header'>
  <div class="container">
    <div class="left">
      {{#if alt}}
        <a id="menu-toggle" href="#menu"><span class='glyphicon glyphicon-th-list'></span></a>
      {{else}}
        <div class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown"> 
            Dropdown
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
      {{/if}}
    </div>
    <h2>{{pantry_name}}</h2>
    <div class="right">
      {{#if modal}}
        <a href="#" data-toggle="modal" data-target="#{{page}}Modal"><span class='glyphicon glyphicon-plus'></span></a>
      {{/if}}
    </div>
  </div>
</div>
{{> sidebar}}