<div class='mm-fixed-top unshifted' id='header'>
  <div class="container">
    <div class="left"><a id="menu-toggle" href="#menu"><span class="glyphicon glyphicon-th-list"></span></a></div>
    <h2>{{pantry_name}}</h2>
    <div class="right">
      {{#if modal}}
        <a href="#" data-toggle="modal" data-target="#{{page}}Modal"><span class='glyphicon glyphicon-plus'></span></a>
      {{/if}}
    </div>
  </div>
</div>
{{> sidebar}}