{{!-- pantry_list.handlebars --}}
<div class='row item'>
	<h3 class='pantry-name'>{{name}}</h3>
	<h6 class='pantry-num-users'>{{users.length}}</h6>
	{{!-- <h6 class='pantry-location'>{{category}}</h6> --}}
</div>