{{!-- pantry_list.handlebars --}}
<div class='row item'>
	<h3 class='pantry-name'><a href='/pantry/{{id}}/Name'>{{name}}</a></h3>
	<h6 class='pantry-num-users'>{{users.length}}</h6>
	<h6 class="pantry-invitees">{{invited_emails.length}}</h6>
</div>