{{!-- request.handlebars --}}
<div class='row request' id='{{_id}}'>
  <h3 class='request-name'>{{name}}</h3>
  <span class='glyphicon glyphicon-chevron-up like-icon'>{{likes}}</span>
  <img src="/img/minus-icon-24.png" class='btn-remove'>
  <button class='btn-to-pantry'>To Pantry</button>
  <h6 class='request-category'>{{category}}</h6>
</div>