{{!-- request.handlebars --}}
<div class='row request' id='{{_id}}'>
  <h3 class='request-name'>{{name}}</h3>
    <span>Alt</span>
  <div class="request-bottom-row">
    <h6 class='request-category'>{{category}}</h6>
    <img src="/img/minus-icon-24.png" class='btn-remove'>
    <button class='btn btn-default btn-sm btn-to-pantry'>To Pantry</button>
  </div>

</div>