<!-- sidebar.handlebars -->
<nav id="menu" ><ul>
	<li><a href="#">
		<i ></i></a></li>
	<li><a href="#home">
		<i class="icon icon-white icon-home"></i>
		Home</a></li>
	<li><a href="#iconbar">
		<i class="icon icon-white icon-th"></i>
		Iconbar</a></li>
	<li><a href="#styling">
		<i class="icon icon-white icon-bold"></i>
		Styling</a></li>
	<li><a href="#responsive">
		<i class="icon icon-white icon-resize-horizontal"></i>
		Responsive</a></li>
	<li><a href="#scrolling">
		<i class="icon icon-white icon-arrow-down"></i>
		Scrolling</a></li>
	<li><a href="#about">
		<i class="icon icon-white icon-cog"></i>
		About</a></li>
</ul></nav>