{{!-- user_dropdown.handlebars --}}
<div class="dropdown col-xs-1 col-sm-1 col-md-1 col-lg-1">
  <button class="btn dropdown-toggle" type="button" id="user_dropdown" data-toggle="dropdown" >
    Menu
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="user_dropdown">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">{{user.firstname}} {{user.lastname}} (logout)</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/my_pantries">My Pantries</a></li>
    {{#if id}}
      <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#shareModal" href="#">Share</a></li>
    {{else}}
      <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#shareModal" href="#">Share</a></li>
    {{/if}}
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#pantryModal" href="#">Create new Pantry</a></li>
  </ul>
</div>