<!doctype html>

<html>
<head>
  <title>Pantry</title>
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link href='/css/bootstrap.min.css' rel='stylesheet'>
  <link href="/css/home.css" rel='stylesheet'>

  <!-- Scripts for fonts -->
  <script type="text/javascript" src="//use.typekit.net/vka4voo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>   
</head>

<body>
  <div class='container'>
    <h1 id='header'>Pantry</h1>
    
    <div class="container">
      <a href="/auth/facebook" class='btn btn-lg btn-primary' id='facebook-btn' role='button'>Login with Facebook</a>
    </div>

  </div>

  <script src='https://code.jquery.com/jquery.js'></script>
  <script src='/js/bootstrap.min.js'></script>
</body>
</html>