<!doctype html>

<html>
<head>
  <title>Home</title>  
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/pantry.css" rel="stylesheet">

  <!-- Scripts for fonts -->
  <script type="text/javascript" src="//use.typekit.net/vka4voo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>      
</head>
<body>

  <div class="container">
    {{> pantry_modal}}
    <div class='row' id='header'>
      
      {{> user_dropdown}}
      <h2>Home</h2>
      <a href="#" data-toggle="modal" data-target="#pantryModal"><span class='glyphicon glyphicon-plus'></span></a>
    </div>
    {{#each pantries}}
      {{> pantry_min}}
    {{/each}}
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>