<!doctype html>

<html>
<head>
  <title>Pantry</title>  
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  
  {{> standard_css}}
  <link href='/css/pantry.css' rel='stylesheet'>

  <!-- Scripts for fonts -->
  <script type="text/javascript" src="//use.typekit.net/vka4voo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
</head>
<body>
  <div class='container'>
    {{> share_modal}}
    {{> item_modal}}
    
    <div class='row' id='header'>

      {{!-- <a id="open-icon-header" href="#menu">FUCKING OPEN</a> --}}
      {{> user_dropdown}}
      <h2>Pantry</h2>
      <a href="#" data-toggle="modal" data-target="#itemModal"><span class='glyphicon glyphicon-plus'></span></a>
    </div>    
    <div class="row">
      <div class="btn-group btn-group-justified">
        <a class="btn btn-default" role="button">
          <span class="glphyicon glphyicon-cutlery"></span> Cutlery
        </a>
        <a class="btn btn-default" role="button">
          <span class="glphyicon glphyicon-shopping-cart"></span>
        </a>
      </div>
    </div>
    <div class='row' id='sort'>
      <div class='btn-group'>
        <button class='btn btn-default btn-md dropdown-toggle' id='sort-btn' type='button' data-toggle='dropdown'>
          Sort<span class='caret'></span>
        </button>

        <ul class='dropdown-menu'>
          <li><a href='/pantry/{{id}}/Name'>Name</a></li>
          <li><a href='/pantry/{{id}}/Category'>Category</a></li>
          <li><a href='/pantry/{{id}}/Expiration'>Expiration</a></li>
        </ul>
      </div>

      <button id='btn-edit'>Edit</button>
    </div>

    {{#each items}}
      {{> item}}
    {{/each}}

  {{> navbar}}

  </div> {{!-- End of container --}}
  {{!-- {{> sidebar}} --}}
  {{> standard_js}}
  <script src="/js/pantry.js"></script>
</body>
</html>