<!doctype html>

<html>
<head>
  <title>Pantry</title>  
  <meta charset='utf-8'>
  {{!-- Disable Zooming --}}
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  
  <link href='/css/bootstrap.min.css' rel='stylesheet'>
  <link href='/css/bootstrap-theme.min.css' rel='stylesheet'>
  <link href='/css/pantry.css' rel='stylesheet'>
  <link href='/css/navbar.css' rel='stylesheet'>

  <!-- Scripts for fonts -->
  <script type="text/javascript" src="//use.typekit.net/vka4voo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <![endif]-->        
</head>

<body>
  <div class='container'>

    <div class='row' id='header'>
      <h2>Pantry</h2>
      <span class='glyphicon glyphicon-plus'></span>
    </div>

    <div class='row' id='sort'>
      <h4>Sort by: <i>Expiration</i></h4>
    </div>

    {{#each items}}
      <div class='row item'>
        <h3 class='item-name'>{{name}}</h3>
        <h6 class='item-expiration'>January 6, 2014</h6>
        <h6 class='item-category'>{{category}}</h6>
      </div>
    {{/each}}

    <form method='post' action='/create_item'>
      Name: <input type='text' name='name'>
      Category: <input type='text' name='category'>
      <input type='submit' value='Submit'>
    </form>

  {{> navbar}}

  </div> {{!-- End of container --}}

  <script src='https://code.jquery.com/jquery.js'></script>
  <script src='/js/bootstrap.min.js'></script>
</body>
</html>