<!doctype html>

<html>
<head>
  <title>Pantry</title>
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {{> standard_css}}
  {{> standard_js}}

</head>
<body>

  <div>
    {{!-- Data targets  --}}
    {{> sidebar}}
    {{> share_modal}}
    {{> pantry_modal}}

    <div id="header">
      <a href="#menu"></a>
      {{pantry_name}}
    </div>
  
    {{> control}}

    <div id="container-pick-ingredients" class="container container-content">
      <h4 id="pick-ingredients-msg">Soon you will be able to choose which ingredients you'd like to use in your recipe. Check back soon!</h4>
    </div>

    <div id="footer">
      <a id="btn-back" href="/recipe_welcome?id={{id}}"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>

</body>

</html>