<!doctype html>

<html>
<head>
  <title>Pantry</title>  
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  
  {{> standard_css}}
  <link href='/css/shopping_list.css' rel='stylesheet' >
  <link rel="stylesheet" href="/css/jquery.mmenu.all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/footer.css">

  <!-- Scripts for fonts -->
  <script type='text/javascript' src='//use.typekit.net/vka4voo.js'></script>
  <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>  
</head>

<body>
  <div class='container'>
    {{> share_modal}}
    {{> request_modal}}
    {{> navbar}}
    <div class="row">
      <div class="btn-group btn-group-justified">
        <a href=' /pantry/{{id}}/{{pantry_order}}' class="btn btn-default" role="button">
          <span class="glphyicon glphyicon-cutlery"></span> Pantry
        </a>
        <a href='/shopping_list/{{id}}/{{shopping_list_order}}' class="btn btn-default" role="button">
          <span class="glphyicon glphyicon-shopping-cart"> Grocery List</span>
        </a>
      </div>
    </div>
    
    {{#each requests}}
      {{> request}}
    {{/each}}

    {{> footer_shopping_list}}
  </div>
  {{!-- {{> sidebar}} --}}

  {{> standard_js}}
  <script src='/js/shopping_list.js'></script>
  
</body>
</html>