.story {
  background-color: #C0C0C0;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.vote-count {
  margin-left: 3px;
  margin-right: 15px;
}

#add-story {
  margin-bottom: 5px;
}