html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #8bc53e;
}

.container {
  margin-top: 20%;
}

#header {
  margin-top: 30%;
  margin-bottom: 45%;
  text-align: center;
  color: white;
  font-family: Museo Slab;
  font-weight: 500;
}

#name-field {
  margin-bottom: 5%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddcf9b;
  color: white;
}