.feed {
	background-color: #C0C0C0;
	border-radius: 10px;
  	padding-bottom: 5px;
	margin-bottom: 5px;
}

.follow-count {
  margin-left: 3px;
  margin-right: 15px;
}

#add-feed {
	margin-bottom: 10px;
}