#header {
  text-align: center;
  height: 50px;
  background-color: #8bc53e;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  z-index: 1030;
  top:0;
  
}

.left{
  padding-top: 10px;
  float: left;
}
.right{
  padding-top: 10px;
  float: right;
}

.unshifted {
	right: 0;
  left: 0;
}

.shifted {
	width: 100%;
  left: 40%;
}

#menu-toggle {
  display: inline;
}

#header h2 {
  display: inline;
  color: white;
}

#header span {
  color: white;
  margin-left: 20px;
}

body {
  padding-top: 52px !important;
  padding-bottom: 70px;
}