

/*TODO: fix header alignments*/

#sort {
  background-color: #e6e6e6;
  color: #8bc53e;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.item {
  border-bottom: 2px #ddcf9b solid;
  padding-left: 5%;
  padding-right: 5%;
}

.item-name {
  display: inline;
}

.item-expiration {
  display: inline;
  float: right;
}

.item-category {
  margin-top: 3px;  
  color: #989898;
}

/* TODO: add running low flag */