

.item {
  border-bottom: 2px #ddcf9b solid;
  padding-left: 5%;
  padding-right: 5%;
}

.item-name {
  display: inline;
}

.btn-remove {
  margin-top: 8px;
  display: inline;
  float: right;
}

.item-expiration {
  display: inline;
  float: right;
}

.item-category {
  margin-top: 3px;  
  color: #989898;
}
