body {
  padding-top: 50px !important;
  padding-bottom: 70px;
}

#header {
  text-align: center;
  background-color: #8bc53e;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 1030;
  top:0;
}

#header h2 {
  display: inline;
  color: white;
  /*font-family: Museo Slab;
  font-weight: 500;*/
}

#header span {
  color: white;
  margin-left: 20px;
}

.item {
  border-bottom: 2px #ddcf9b solid;
  padding-left: 5%;
  padding-right: 5%;
}

.item-name {
  display: inline;
}

.btn-remove {
  margin-top: 8px;
  display: inline;
  float: right;
}

.item-expiration {
  display: inline;
  float: right;
}

.item-category {
  margin-top: 3px;  
  color: #989898;
}

#footer {
  text-align: center;
  background-color: #8bc53e;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 1030;
  bottom:0;
}

#sort {
  display: inline;
  float: left;
  margin-left: 5%;
}

#edit {
  display: inline;
  float: right;
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* TODO: add running low flag */