/* TODO: fix fonts */

.request {
  border-bottom: 2px #ddcf9b solid;
  padding-left: 5%;
  padding-right: 5%;
}

.request-name {
  display: inline;
}

.request-category {
  margin-top: 3px;  
  color: #989898;
}

.glyphicon-chevron-up {
  font-size: 20px;
  float: right;
  color: #ddcf9b;
}
