/* TODO: fix fonts */
body {
  padding-top: 50px !important;
}

#header {
  text-align: center;
  background-color: #8bc53e;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  right: 0;
  left: 0;
  height: 50px;
  z-index: 1030;
  top:0;
}

#header h2 {
  display: inline;
  color: white;
}

#header span {
  color: white;
  margin-left: 20px;
}

.request {
  border-bottom: 2px #ddcf9b solid;
  padding-left: 5%;
  padding-right: 5%;
}

.request-name {
  display: inline;
}

.request-category {
  margin-top: 3px;  
  color: #989898;
}

.glyphicon-chevron-up {
  font-size: 20px;
  float: right;
  color: #ddcf9b;
}